<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HandbrakeBatchEncoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HandbrakeBatchEncoder.Properties.Settings>
      <setting name="HandbrakeCliPath" serializeAs="String">
        <value>C:\Program Files\HandBrake\HandBrakeCLI.exe</value>
      </setting>
      <setting name="EncodeSettings" serializeAs="String">
        <value>-e x264 -q 20.0 -a 1 -E faac -B 160 -6 dpl2 -R Auto -D 0.0 -f mp4 -m -x ref=2:bframes=2:subme=6:mixed-refs=0:weightb=0:8x8dct=0:trellis=0 --crop 0:0:0:0 -X 720</value>
      </setting>
      <setting name="WatchFolder" serializeAs="String">
        <value>C:\Data\Media\_Encode\Drop</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value>C:\Data\Media\_Encode\Encoded</value>
      </setting>
      <setting name="CompletedInputFolder" serializeAs="String">
        <value>Completed</value>
      </setting>
    </HandbrakeBatchEncoder.Properties.Settings>
  </applicationSettings>
</configuration>