<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandbrakeBatchEncoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HandbrakeBatchEncoder.Properties.Settings>
            <setting name="HandbrakeCliPath" serializeAs="String">
                <value>C:\Program Files\HandBrake\HandBrakeCLI.exe</value>
            </setting>
            <setting name="EncodeSettings" serializeAs="String">
                <value> -f avi -w 720 --deinterlace="slow" -e xvid -b 1200 -2  -a 1 -E lame -B 160 -R 0 -6 dpl2 -D 1 -v --crop 0:0:0:0</value>
            </setting>
            <setting name="WatchFolder" serializeAs="String">
                <value>D:\Temp\Drop</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>D:\Temp\Complete</value>
            </setting>
            <setting name="zEncodeSettings" serializeAs="String">
                <value> -f avi -w 720 --deinterlace="slow" -e xvid -b 1200 -2  -a 1 -E lame -B 160 -R 0 -6 dpl2 -D 1 -v </value>
            </setting>
            <setting name="CompletedInputFolder" serializeAs="String">
                <value>Completed</value>
            </setting>
        </HandbrakeBatchEncoder.Properties.Settings>
    </applicationSettings>
</configuration>