<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HandbrakeBatchEncoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HandbrakeBatchEncoder.Properties.Settings>
      <setting name="HandbrakeCliPath" serializeAs="String">
        <value>C:\Program Files\HandBrake\HandBrakeCLI.exe</value>
      </setting>
      <setting name="EncodeSettings" serializeAs="String">
        <value>--preset "High Profile" --crop 0:0:0:0</value>
      </setting>
      <setting name="WatchFolder" serializeAs="String">
        <value>C:\Data\Media\_Encode\Drop</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value>C:\Data\Media\_Encode\Encoded</value>
      </setting>
      <setting name="CompletedInputFolder" serializeAs="String">
        <value>Completed</value>
      </setting>
    </HandbrakeBatchEncoder.Properties.Settings>
  </applicationSettings>
</configuration>