<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MediaCatalogueEntities" connectionString="metadata=res://*/Models.MediaCatalogue.csdl|res://*/Models.MediaCatalogue.ssdl|res://*/Models.MediaCatalogue.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WEBHOST04;Initial Catalog=MediaCatalogue;Persist Security Info=True;User ID=anonymous;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>