<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MediaLibraryEditor.Properties.Settings.MediaCatalogueConnectionString"
            connectionString="Data Source=WEBHOST04;Initial Catalog=MediaCatalogue;Persist Security Info=True;User ID=anonymous"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>